.container-fluid{
  background-color: var(--rm-primary-light);
  height: 80px;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  text-align: center;

}

.footer{
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.author{
  font-weight: 500;
  margin: 0;

}
