.container-fluid{
  background-color: var(--rm-primary);
  height: 150px;
  position: static;
  width: 100vw;
  left: 0;
  bottom: 0;
  display: flex;
  text-align: center;
}

.footer{
  align-items: center;
  width: 100vw;
}

.copy{
  font-weight: 500;
  padding-top: 20px;
  margin: 0;
  color: var(--rm-white);
}
