<div class="container-fluid">
  <div class="row login-section d-flex align-items-center">
    <div class="col-12">
      <div class="login-form">
        <img
          src="../../../assets/images/blue-logo.png"
          alt="Logo do Sistema Anamnese"
          class="logo"
        />
        <h4>Já é nosso cliente?</h4>
        <h6>Faça o seu login</h6>
        <form [formGroup]="form">
          <div class="input-field">
            <label for="note">Usuário</label>
            <input
              type="textarea"
              class="input"
              id="dentista"
              formControlName="dentista"
              placeholder="dentista"
            />
            <div
              class="error-message"
              *ngIf="form.get('dentista')?.errors?.['required'] && form.get('dentista')?.touched"
            >
              O campo usuário não pode estar em branco.
            </div>
            <div
              class="error-message"
              *ngIf="form.get('dentista')?.errors?.['minlength'] && form.get('dentista')?.touched"
            >
              Este campo deve ter pelo menos 5 caracteres.
            </div>
          </div>
          <div class="input-field">
            <label for="note">Senha</label>
            <input
              type="password"
              class="input"
              id="password"
              formControlName="password"
              placeholder="senha"
            />
            <div
              class="error-message"
              *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched"
            >
              O campo de senha não pode estar em branco.
            </div>
            <div
              class="error-message"
              *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched"
            >
              Este campo deve ter pelo menos 5 caracteres.
            </div>
          </div>
        </form>
        <button
        (click)="login()"
        class="btn login-btn"
        [disabled]="!form.valid"
      >
        Entrar
      </button>

      </div>
    </div>
  </div>
</div>
