<div class="page-container">
  <app-navbar></app-navbar>
    <div class="row">
      <div class="greetings col-12">
        <h5>Olá, {{ anamneses[0].dentista }}</h5>
        <h6>Painel de Gerenciamento de Anamneses</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 chart-section">
        <app-chart [anamneses]="anamneses"></app-chart>
      </div>
      <div class="col-md-7 list-section">
        <app-table-anamneses></app-table-anamneses>
      </div>
    </div>
  <app-footer></app-footer>
</div>

