.container{
  color: var(--rm-primary-dark);
}

h4{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

h5{
  display: flex;
  align-items: center;
  margin: 10px 0px 40px 0px;
}

.col-12{
  margin-bottom: 100px;
}
