<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Data</th>
      <th scope="col">Paciente</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let anamnese of anamnese$ | async">

        <th scope="row">{{ anamnese.id }}</th>
        <td>{{ anamnese.data }}</td>
        <td>{{ anamnese.paciente }}</td>
        <td>
          <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ver detalhes
          </button>
        </td>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Dados da Anamnese</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Bla
              Bla
              Bla
              Bla
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-modal" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
  </tbody>
</table>
